In [2]:
import dash
import pandas as pd

from dash import html
from dash import dcc

import pandas as pd
import plotly.express as px

In [3]:
#!pip install dash

In [4]:
# Load the data from the CSV file
data = pd.read_csv("charge_st.csv")

In [5]:
data

,sessionId,kwhTotal,dollars,created,ended,startTime,endTime,chargeTimeHrs,weekday,platform,...,managerVehicle,facilityType,Mon,Tues,Wed,Thurs,Fri,Sat,Sun,reportedZip
0,1366563,7.78,0.00,0014-11-18 15:40:26,0014-11-18 17:11:04,15,17,1.510556,Tue,android,...,0,3,0,1,0,0,0,0,0,0
1,3075723,9.74,0.00,0014-11-19 17:40:26,0014-11-19 19:51:04,17,19,2.177222,Wed,android,...,0,3,0,0,1,0,0,0,0,0
2,4228788,6.76,0.58,0014-11-21 12:05:46,0014-11-21 16:46:04,12,16,4.671667,Fri,android,...,0,3,0,0,0,0,1,0,0,0
3,3173284,6.17,0.00,0014-12-03 19:16:12,0014-12-03 21:02:18,19,21,1.768333,Wed,android,...,0,3,0,0,1,0,0,0,0,0
4,3266500,0.93,0.00,0014-12-11 20:56:11,0014-12-11 21:14:06,20,21,0.298611,Thu,android,...,0,3,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,7021565,6.74,0.00,0015-10-01 16:31:18,0015-10-01 19:59:08,16,19,3.463889,Thu,ios,...,0,2,0,0,0,1,0,0,0,1
3391,3758092,6.86,0.00,0015-10-02 16:28:48,0015-10-02 19:27:05,16,19,2.971389,Fri,ios,...,0,2,0,0,0,0,1,0,0,1
3392,5858374,6.07,0.00,0015-09-30 16:54:22,0015-09-30 20:24:06,16,20,3.495556,Wed,android,...,0,3,0,0,1,0,0,0,0,1
3393,2586645,5.74,0.00,0015-09-24 11:43:02,0015-09-24 13:55:12,11,13,2.202778,Thu,ios,...,1,2,0,0,0,1,0,0,0,1
3394,7860608,6.95,0.00,0015-10-01 16:43:05,0015-10-01 19:42:06,16,19,2.983611,Thu,ios,...,0,3,0,0,0,1,0,0,0,1

In [6]:
# Create a scatter plot using Plotly Express
fig = px.scatter(data, x="chargeTimeHrs", y="kwhTotal")

In [7]:
# Create the Dash app
app = dash.Dash(__name__)

In [8]:
# Define the layout of the app
app.layout = html.Div(children=[
    html.H1(children='EV Charging Data'),
    dcc.Graph(
        id='charging-data',
        figure=fig
    )
])

In [9]:
# Run the app
if __name__ == '__main__':
    app.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [17/Feb/2023 20:28:36] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [17/Feb/2023 20:28:36] "GET /_dash-component-suites/dash/deps/polyfill@7.v2_8_1m1676683347.12.1.min.js HTTP/1.1" 200 -
127.0.0.1 - - [17/Feb/2023 20:28:36] "GET /_dash-component-suites/dash/deps/react@16.v2_8_1m1676683347.14.0.min.js HTTP/1.1" 200 -
127.0.0.1 - - [17/Feb/2023 20:28:36] "GET /_dash-component-suites/dash/deps/prop-types@15.v2_8_1m1676683347.8.1.min.js HTTP/1.1" 200 -
127.0.0.1 - - [17/Feb/2023 20:28:36] "GET /_dash-component-suites/dash/deps/react-dom@16.v2_8_1m1676683347.14.0.min.js HTTP/1.1" 200 -
127.0.0.1 - - [17/Feb/2023 20:28:36] "GET /_dash-component-suites/dash/dash-renderer/build/dash_renderer.v2_8_1m1676683347.min.js HTTP/1.1" 200 -
127.0.0.1 - - [17/Feb/2023 20:28:36] "GET /_dash-component-suites/dash/dcc/dash_core_components-shared.v2_8_0m1676683347.js HTTP/1.1" 200 -
127.0.0.1 - - [17/Feb/2023 20:28:36] "GET /_dash-component-suites/dash/dcc/dash_core_components.v2_8_0m1676683347.js HTTP/1.1" 200 -
127.0.0.1 - - [17/Feb/2023 20:28:36] "GET /_dash-component-suites/dash/dash_table/bundle.v5_2_2m1676683347.js HTTP/1.1" 200 -
127.0.0.1 - - [17/Feb/2023 20:28:36] "GET /_dash-component-suites/dash/html/dash_html_components.v2_0_8m1676683347.min.js HTTP/1.1" 200 -
127.0.0.1 - - [17/Feb/2023 20:28:36] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [17/Feb/2023 20:28:36] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [17/Feb/2023 20:28:36] "GET /_favicon.ico?v=2.8.1 HTTP/1.1" 200 -
127.0.0.1 - - [17/Feb/2023 20:28:36] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [17/Feb/2023 20:28:36] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -

In [ ]:
%tb